/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Common */
:root{
    --header-background: #B4D0E7;
    --nav-background: white;
    --nav-border: #D1D9E1;
    --button-background: #0061FF;
    --button-text: white;
    --button-border: #D0D0D3;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.flex{
    display: flex;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container-small{
    max-width: 1000px;
    margin: 0 auto;
}
ul{
    list-style-type: none;
}
button{
    all: unset;
    background-color: var(--button-background);
    color: var(--button-text);
    padding: 8px 17px;
    cursor: pointer;
}
button.check, button.checked{
    padding: 8px;
    background-color: white;
    border: 2px solid var(--button-border);
    border-radius: 50%;
    vertical-align: middle;
}
button.checked{
    padding: 5px;
    border: 5px solid var(--button-background);
}
button.full{
    width: 100%;
    text-align: center;
}
/* Header */
header{
    background-color: var(--header-background);
    padding-top: 82px;
    margin-bottom: 164px;
}
/* Header - Nav */
header nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 21px 20px;
    background-color: var(--nav-background);
    border-bottom: 1px solid var(--nav-border);
    z-index: 99;
}
header nav ul{
    gap: 42px;
    align-items: center;
}
header nav ul li{
    display: inline;
}
header nav li button{
    margin-left: -21px;
}
/* Header - Container */
header .container{
    margin-top: 106px;
}
h1{
    padding-right: 190px;
    font-size: 60px;
    font-weight: 800;
}
header .container .flex{
    margin-top: 62px;
}
header .flex .small-box{
    display: block;
    max-width: 360px;
}
header .flex .small-box li{
    padding: 17.5px 0;
}
header .flex .small-box li:first-child{
    padding-top: 0px;
}
header .flex .small-box li:last-child{
    margin: 42px 0 5.5px;
}
header .flex .small-box li i{
    font-size: 42px;
}
header .flex .large-box{
    position: relative;
    top: 0;
    left: 0;
}
header .flex .large-box img{
    display: block;
    max-width: 800px;
    position: absolute;
    top: 0;
    left: 0;
}
/* Main */
main section h2{
    font-size: 39px;
    margin-bottom: 73px;
}
main section span{
    vertical-align: top;
    padding: 0 50px 0 5px;
}
main section > button{
    margin-bottom: 50px;
}
main section .flex .box33,
main section .flex .box100{
    width: calc((100% - 100px) / 3);
    border: 1px solid var(--button-border);
}
main section .flex .box100{
    width: 100%;
}
main section .flex{
    gap: 50px;
    flex-wrap: wrap;
}
main section .box100 .space.flex{
    flex-wrap: nowrap;
}
main section h3{
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid var(--button-border);
}
main section .space{
    padding: 39px 25px 28px;
}
main section .space li{
    display: flex;
    margin: 26px 0;
    font-size: 16px;

}
main section .space li span{
    font-size: 15px;
    color: black;
    padding: 0 0 0 7px;

}
main section .space li:first-child{
    margin-top: 40px;

}
main section .space h4{
    padding-left: 7px;
    margin-bottom: 22px;
    font-size: 23px;
}
main section .space h5,
main section .space span{
    padding-left: 5px;
    font-size: 14px;
}
main section .space h5{
    margin-bottom: 12px;
}
main section .space span{
    color: #6B6866;
}
main section .box33 .space .button-section span{
    padding: 35px 0 0 0;
}
main section .space hr{
    margin: 30px 0 55px 7px;
    width: 48px;
    border: none;
    border-top: 1px solid var(--button-border);
}
main section .box33 .space ul.check i{
    color: var(--button-background); 
}
main section .flex .box100 .button-section.top{
    margin-top: 0px;
    width: 240px;
}